@import "tailwindcss";

@font-face {
  font-family: "SUITE-Medium";
  src: url("../assets/fonts/SUITE-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUITE-SemiBold";
  src: url("../assets/fonts/SUITE-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUITE-Bold";
  src: url("../assets/fonts/SUITE-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUITE-ExtraBold";
  src: url("../assets/fonts/SUITE-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("../assets/fonts/SUITE-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-lightgray: #717374;
  --color-text-darkgray: #333333;
  --color-text-muted: #bbbbbb;
  --color-text-inverse: #f5f1eb;

  --font-suite-medium: "SUITE-Medium", sans-serif;
  --font-suite-semibold: "SUITE-SemiBold", sans-serif;
  --font-suite-bold: "SUITE-BOLD", sans-serif;
  --font-suite-extrabold: "SUITE-ExtraBold", sans-serif;
  --font-suite-regular: "SUITE-Regular", sans-serif;

  /* 기본 폰트 */
  --font-sans: var(--font-suite-regular);
  --font-mono: var(--font-geist-mono);
  --color-primary-50: #ffecf2;
  --color-primary-100: #ffd1e0;
  --color-primary-200: #ffa4c5;
  --color-primary-300: #ef90b5;
  --color-primary-400: #ff469b;
  --color-primary-500: #e30084;
  --color-primary-600: #c40071;
  --color-primary-700: #9b0058;
  --color-primary-800: #6f003e;
  --color-primary-900: #420022;

  --color-secondary-50: #eff0f8;
  --color-secondary-100: #d6daed;
  --color-secondary-200: #b1b8dd;
  --color-secondary-300: #8f9ace;
  --color-secondary-400: #6f7fc0;
  --color-secondary-500: #5566a8;
  --color-secondary-600: #435085;
  --color-secondary-700: #313c66;
  --color-secondary-800: #212948;
  --color-secondary-900: #141a31;

  --color-error-100: #ffcccc;
  --color-error-200: #ff9999;
  --color-error-300: #ff6666;
  --color-error-400: #ff3333;
  --color-error-500: #ff0000;
  --color-error-600: #cc0000;
  --color-error-700: #990000;
  --color-error-800: #660000;
  --color-error-900: #330000;

  --color-table-border: #e3dccf;
  --color-table-header: #faf7f2;

  /* Shadow */
  --shadow-card: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  --shadow-btn: 1px 3px 7px 0px rgba(0, 0, 0, 0.1);
  /* 결과 요약 내용 카드 */
  --shadow-content-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  /* Gradient */
  --gradient-success-diagonal: linear-gradient(
    77deg,
    #212948 0%,
    #2f385f 50%,
    #4a5278 100%
  );
  --gradient-pending-diagonal: linear-gradient(77deg, #212948 0%, #e30084 100%);
  --gradient-error-diagonal: linear-gradient(
    -67deg,
    #d14b4b 0%,
    #b23a3a 50%,
    #7a2323 100%
  );

  /* summary 관련 */
  --gradient-summary-date-diagonal: linear-gradient(
    -45deg,
    rgba(227, 0, 132, 0.2) 0%,
    rgba(33, 41, 72, 0.2) 100%
  );
  --gradient-summary-primary-diagonal: linear-gradient(
    -45deg,
    #e30084 0%,
    #ff1493 100%
  );
  --gradient-summary-secondary-diagonal: linear-gradient(
    -45deg,
    #212948 0%,
    #4a5278 100%
  );

  --gradient-summary-conclusion-diagonal: linear-gradient(
    170deg,
    #ffffff 0%,
    #f5f1eb 100%
  );

  --gradient-summary-ai-diagonal: linear-gradient(
    -45deg,
    rgba(227, 0, 132, 0.05) 0%,
    rgba(33, 41, 72, 0.05) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f1eb;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
}

.bg-success-gradient {
  background: var(--gradient-success-diagonal);
  color: #ffffff;
}
.bg-pending-gradient {
  background: var(--gradient-pending-diagonal);
  color: #ffffff;
}
.bg-error-gradient {
  background: var(--gradient-error-diagonal);
  color: #ffffff;
}

.bg-summary-date-gradient {
  background: var(--gradient-summary-date-diagonal);
}
.bg-summary-primary-gradient {
  background: var(--gradient-summary-primary-diagonal);
  color: #ffffff;
}
.bg-summary-secondary-gradient {
  background: var(--gradient-summary-secondary-diagonal);
  color: #ffffff;
}
.bg-summary-conclusion-gradient {
  background: var(--gradient-summary-conclusion-diagonal);
}
.bg-summary-ai-gradient {
  background: var(--gradient-summary-ai-diagonal);
}
.bg-success-gradient {
  background: var(--gradient-success-diagonal);
  color: #ffffff;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
